.container {
  position: fixed;
  top: 0;
  height: 100vh;
  overflow: auto;
  right: 0;
  animation: cart-in 0.2s linear 1;
  z-index: 50;
  background-color: white;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  width: 50%;
}

.subContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #d4d5d9;
  margin-bottom: 20px;
  padding-bottom: 20px;
  margin-top: 100px;
}

.closeButton {
  position: absolute;
  left: 10px;
  top: 5px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.closeButton:hover {
  transform: rotate(45deg);
}

.brand {
  font-weight: 700;
  line-height: 1;
  color: #282c3f;
  font-size: 20px;
  max-width: 30%;
  cursor: pointer;
  transition: all 0.3s linear;
}

.brand:hover {
  color: #ff3e6c;
}

.subBrand {
  color: #535665;
  font-size: 16px;
  opacity: 0.8;
  font-weight: 400;
}

.image {
  height: 100px;
}

@media screen and (max-width: 770px) {
  .container {
    width: 100%;
  }
}

@keyframes cart-in {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
