.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 50px;
  overflow: hidden;
}

@media screen and (max-width: 770px) {
  .container {
    height: 100%;
    overflow: hidden;
    object-fit: contain;
  }
}

.subcontainer {
  max-height: 500px;
  max-width: 100%;
  width: 400px;
  height: 100%;
  padding: 0;
  transition: all 0.27s linear;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

figure {
  height: 100%;
}
